body, html {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

/*
  multi-line comment
  hahaha
 */
div#id.class:pseudo-selector {
  background: #00ff00 url('smiley.gif') no-repeat fixed center;
  width: 45px !important;
  height: 45%;
  /* comment */
}

